<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./inc/head')%>
</head>
<body>
    <%-include('./inc/nav') %>
    <section>
        <h1>Hakkımızda</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus natus, explicabo distinctio inventore molestiae at reprehenderit nemo dolorum ut minus molestias unde totam accusantium et? Eveniet natus perferendis nihil quis.Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus natus, explicabo distinctio inventore molestiae at reprehenderit nemo dolorum ut minus molestias unde totam accusantium et? Eveniet natus perferendis nihil quis.Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus natus, explicabo distinctio inventore molestiae at reprehenderit nemo dolorum ut minus molestias unde totam accusantium et? Eveniet natus perferendis nihil quis.Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus natus, explicabo distinctio inventore molestiae at reprehenderit nemo dolorum ut minus molestias unde totam accusantium et? Eveniet natus perferendis nihil quis.Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus natus, explicabo distinctio inventore molestiae at reprehenderit nemo dolorum ut minus molestias unde totam accusantium et? Eveniet natus perferendis nihil quis.Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus natus, explicabo distinctio inventore molestiae at reprehenderit nemo dolorum ut minus molestias unde totam accusantium et? Eveniet natus perferendis nihil quis.</p>
    </section>
</body>
</html>